/* Styling file for Sweet Alert */
.sweetAlertContent {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.005em;
  margin-bottom: 4.25rem !important;
}
.alertTitle {
  font-family: Lato !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 21px !important;
  line-height: 26px !important;
  letter-spacing: 0.0015em !important;
  text-transform: uppercase !important;
}

.sweetAlertButton {
  background-color: #1F1F1F !important;
}

.alertPopup {
  border-radius: 25px !important;
}

.alertClose {
  margin: 10px !important;
  color: black !important;
  font-weight: bolder !important;
}
